body{
    padding-top: 90px;
}
header{
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0%;
    height: 50px;
    width: 100%;
    padding-top: 1.7rem;
    padding-left: 6rem;
    padding-right: 4rem;
    padding-bottom: 0px;
    margin-bottom: 50px;
}

header img{
    width: auto;
    height: 3rem;
    margin-top: -12px;
}

header a{
    text-decoration: none;
    padding-right: 25px;
    color: #26a;
}