.indexAboveFold{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25rem;
    padding: 0rem 7rem;
    background-color: #212121
}

.avatar{
    height: 20rem;
    padding-right: 6rem;
    margin-top: 1%;
}

h1{
    font-size: 5rem;
}

p{
    margin-top: 3rem;
    text-align: center;
    font-size: 1.2rem;
    font-family: monospace;
}

h1, h3{
    color: #fff;
    margin: 0px;
    margin-bottom: 1rem;
}