.content{
    background-color: inherit;
    width: 70%;
    display:flex;
    margin: 0px auto;
    margin-top: -8rem;
    z-index: 100;
    position: relative;
    flex-direction: column;
}

.content h1{
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    color: black !important;
}

.cardContainer{
    display: flex;
    margin: 3rem 0rem;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
}

.card {
    width: 400px;
    margin: 1rem 1rem;
}

.media {
    height: 250px;
}

.cardImage{
    height: 250px;
}

.blogTitle{
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    margin-top: 0rem;
}


.blogDescription{
    font-size:.85rem;
    font-weight: 400;
    color: rgba(0,0,0,.4);
    padding: 0rem 1rem;
    height: 6rem;
    overflow: ellipse;
}

.blogInfo{
    width: 100%;
    padding: .5rem 1rem 0rem 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
}

.readMoreButton{
    padding: 0rem 3rem;
}

small{
    font-size: .7rem
}
